/*************** Navbar *****************/
.nav{
    height:60px;
    margin-bottom:130px;

    background-color: rgb(249, 249, 249);
    box-shadow: 0px 10px 10px -10px rgba(21,20,20,0.25);
}

.navLink{
    padding-top: 17px;
    margin-left: 150px;
    
    color: #3d3b3b;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    display: inline;
}

.navLink:hover{
    text-decoration: none;
    color: #1f1e1e;
}

/*************** MainPage ***************/
.basicInfoText{
    margin-top: 50px !important;
    margin-bottom: 150px;
    font-size: 27px;
    font-weight: bold;
    color: #3d3b3b;
    text-align: center !important;
}

.tableElements{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center !important;
}

.tableElementLink{
    font-size: 25px;
    font-weight: bold;
    color: #575353 !important;
}

.space{
    margin-bottom: 100px;
}

/*************** General **************/
.subjectHeaderText{
    margin-top: 80px !important;
    margin-bottom: 70px;
    font-size: 30px;
    font-weight: bold;
    color: #3d3b3b;
    text-align: center !important;
}

.infoText{
    font-size: 20px;
    color: #3d3b3b;
}

.infoTextHeader{
    font-size: 20px;
    font-weight: bold;
    color: #3d3b3b;
}

.infoTextPlacement{
    margin-bottom: 40px;
}

.cardHeader{
    font-size: 20px;
    font-weight: bold;
    color: #3d3b3b;
    margin-top: 40px;
    margin-bottom: 10px;
}

.cardHeaderText{
    font-weight: normal !important;
}

.card{
    z-index:50;
    position: relative;
    top: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 70px;
    margin-bottom: 60px;
    box-shadow: 0px 1px 21px -8px rgba(21,20,20,0.25);
    background-color: rgba(254, 254, 254, 1.0)!important;
    border: 1px solid #cecece;
    border-radius: 5px;
}

.cardText{
    font-size: 18px;
    color: #3d3b3b;
}

.cardCodePlacement{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 100px;
}

.cardTextPlacement{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 70px;
}